.IconHelp{
    display: flex;
    align-items: center;
}

.PlayIconHelp{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: default;
}

.ConvertIconHelp{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: default;
}

.SaveIconHelp{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: default;
    color: white;
}

.CloudSaveIconHelp{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: default;
}

.PlusIconHelp{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: default;
}

.DicIconHelp{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: default;
}