.FilesWindow{
    display: block;
    width: 10em;
    height: 100%;
    background-color: #21252b;
    position: relative;
}

.ProjName{
    background-color: #272c34;
    margin: 0;
    height: 24px;
    font-size: medium;
}

.FilesWindowMini {
    display: block;
    width: 3em;
    height: 100%;
    background-color: #21252b;
    position: relative;
}

.BackIconMini{
    width: 15px;
    height: 20px;
    margin: 10px 10px;
    cursor: pointer;
}

.MinimizeIcon{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.FilesBottom{
    position: absolute;
    bottom: 2px;
    right: 0px;
}


  .window.window-resize-width{
    cursor: ew-resize;
  }