.FilesTopBar{
    background-color: #282c34;
    height: 35px;
    width: 100%;
}

.FilesBarContent{
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-between;
}

.AddIcon{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.EditIcon{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.ProjNameDiv{
    display: flex;
    align-items: center;
}
.ProjNameInput{
    background-color: #21252b;
    border-radius: 1%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    margin-top: 2px;
    outline: none;
}

.CloudSaveIcon{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.CloudSavingIcon{
    width: 21px;
    height: 19px;
    margin: 0 10px;
    cursor: pointer;


}

.ProjIcons{
    display: flex;
    align-items: center;
}