.DicWindow{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #21252b;
    cursor: text;
    flex-direction: column;
    overflow: scroll;
   
    
}


.Code{
    width: 100%;
    display: flex;
    overflow: scroll;
}

.Line{
    font-size: small;
    margin: 0;
    color: #4a5162;
}

.Lines{
    width: 2%;
    height: 100%;
    /* Make text start from right */
    text-align: right;
    padding-right: 5px;
}

.Code {
    display: none;
}

.DicColumn{
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 100%;

}

code{
    background-color: #333a44;
    padding: 2px;
    border-radius: 10%;
}

.DicInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #21252b;
    cursor: text;
    flex-direction: column;
    overflow: scroll;
   align-items: center;
    font-size: small;
}

.DicSectionTitle{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #333a44 solid 1px;
    width: 90%;
    cursor: pointer;
  
}

.DicSectionText{
    margin-left: 10px;
}

.DicSectionClosed {
    display: none;
}

.OpenIcon{
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.CloseIcon{
    width: 15px;
    height: 3px;
    margin: 0 10px;
    cursor: pointer;
}