.Windows{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

#root{
  width: 100%;
  height: 100vh;
 
  scroll-behavior: unset;
}

body{
  overflow: hidden;
  margin: 0;
}

.RightWindows{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ColumnWindows{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.robot-ip{
  display: none;
}